.song-select {
    width: 100dvw;
    height: 100dvh;

    &__layer-background-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__layer-opaque-mask {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(43,43,43,1) 0%, rgba(43,43,43,0.45284051120448177) 65%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__songs-container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        max-width: fit-content;
        z-index: 3;
    }
}