.note {
    height: $noteHeight;
    width: $noteWidth;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(212,175,55,1) 35%, rgba(202,212,55,1) 50%, rgba(212,175,55,1) 65%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    z-index: 1;

    &__particle {
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $tertiary;
        opacity: 1;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    &__twin {
        background-color: orangered;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 25px solid orangered;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}

