.note {
    height: $noteHeight;
    width: $noteWidth;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    position: absolute;
    top: 0;
    z-index: 1;

    &__fragment {
        position: absolute;
        width: 50%;
        height: 25%;
        background-color: $tertiary;

        &--1 {
            border-radius: 5px 0 0 0;
            left: 0;
            top: 0;
        }
        
        &--2 {
            border-radius: 0 5px 0 0;
            right: 0;
            top: 0;
        }
        
        &--3 {
            border-radius: 0;
            left: 0;
            top: 25%;
        }
        
        &--4 {
            border-radius: 0;
            right: 0;
            top: 25%;
        }
        
        &--5 {
            border-radius: 0;
            left: 0;
            top: 50%;
        }
        
        &--6 {
            border-radius: 0;
            right: 0;
            top: 50%;
        }
        
        &--7 {
            border-radius: 0 0 0 5px;
            left: 0;
            bottom: 0;
        }
        
        &--8 {
            border-radius: 0 0 5px 0;
            right: 0;
            bottom: 0;
        }
    }
}

