$playContentWidth : 1100px;
$fontFamily: 'Playfair Display', serif;
$noteWidth: 25px;
$noteHeight: 60px;
$pianoKeyWhiteWidth: 3em;
$pianoKeyWhiteHeight: 10em;
$pianoKeyBlackWidth: 1.5em;
$pianoKeyBlackHeight: 5em;
$primary: #2B2B2B;
$secondary: #F5F5F5;
$tertiary: #D4AF37;